@layer base {
    /* poppins-100 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 100;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-100.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-200 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 200;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-200.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-100italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 100;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-100italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-200italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 200;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-200italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-300 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-300.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-regular - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-regular.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-300italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 300;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-300italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 400;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-500 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-500.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-500italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 500;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-500italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-600 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-600.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-600italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 600;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-600italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-700 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-700.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-700italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 700;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-700italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-800 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-800.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-800italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 800;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-800italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-900italic - latin */
    @font-face {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 900;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-900italic.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-900 - latin */
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        src: local(""),
        url("/fonts/google/poppins/poppins-v19-latin-900.woff2") format("woff2") /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
}
