// Gray
$peardrop-gray-darkest: #0D0D0D;
$peardrop-gray-dark: #262626;
$peardrop-gray-medium: #404040;
$peardrop-gray-light: #595959;
$peardrop-gray-lightest: #808080;

// Blue
$peardrop-blue-darkest: #1A4987;
$peardrop-blue-dark: #1E519E;
$peardrop-blue-medium: #2E5FA3;
$peardrop-blue-light: #3E75B0;
$peardrop-blue-lightest: #46A0F5;

// Green
$peardrop-green-darkest: #135705;
$peardrop-green-dark: #156606;
$peardrop-green-medium: #3E752D;
$peardrop-green-light: #388F1B;
$peardrop-green-lightest: #49BA23;

// Orange
$peardrop-orange-darkest: #824405;
$peardrop-orange-dark: #9E5206;
$peardrop-orange-medium: #B0691E;
$peardrop-orange-light: #E0982B;
$peardrop-orange-lightest: #FFAC30;

// Purple
$peardrop-purple-darkest: #710085;
$peardrop-purple-dark: #831796;
$peardrop-purple-medium: #A105B5;
$peardrop-purple-light: #C507DE;
$peardrop-purple-lightest: #D608FF;

// Red
$peardrop-red-darkest: #6E1C12;
$peardrop-red-dark: #80160A;
$peardrop-red-medium: #992C18;
$peardrop-red-light: #C4341D;
$peardrop-red-lightest: #FF4326;
$peardrop-red-pale: #FEF7F6;
