$t2b-gray-lightest: #F2F2F2;
$t2b-gray-light: #D9D9D9;
$t2b-gray-medium: #BFBFBF;
$t2b-gray-dark: #A6A6A6;
$t2b-gray-darkest: #808080;

$t2b-red-lightest: #FBCFD0;
$t2b-red-light: #F8A1A4;
$t2b-red-medium: #F47378;
$t2b-red-dark: #ED1C24;
$t2b-red-darkest: #B21016;

$t2b-orange-lightest: #FFE5D4;
$t2b-orange-light: #FFCCA9;
$t2b-orange-medium: #FFB27D;
$t2b-orange-dark: #FF7F27;
$t2b-orange-darkest: #BF5B16;

$t2b-green-lightest: #C8EFD4;
$t2b-green-light: #98E0AD;
$t2b-green-medium: #6BD089;
$t2b-green-dark: #22B14C;
$t2b-green-darkest: #138535;

$t2b-blue-lightest: #C8EBFA;
$t2b-blue-light: #94D8F6;
$t2b-blue-medium: #60C5F1;
$t2b-blue-dark: #00A2E8;
$t2b-blue-darkest: #007AAE;

$t2b-purple-lightest: #EDD3ED;
$t2b-purple-light: #DAAADB;
$t2b-purple-medium: #C785C8;
$t2b-purple-dark: #A349A4;
$t2b-purple-darkest: #7A297B;
