html {
  height: 100%; // Required for sticky-footer and overflow-y
  overflow-y: auto;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

pre {
  padding: 0;
  border: 1px solid red;
}

input[type=checkbox] {
  transform: scale(1.5);
}

// CSS hack for sticky-footer
// https://css-tricks.com/couple-takes-sticky-footer/
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
// https://github.com/philipwalton/flexbugs
html, body, #app, .expand-vertical {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  // ... and some color
  background-color: #F2F2F2;
}

// Remove dotted outline in firefox
a, a:active, a:focus {
  outline: none;
}

.wireframe {
  .expand-vertical {
    border: 1px solid purple;
  }

  .level {
    border: 1px solid blue;
  }

  .columns {
    border: 1px solid yellow;
  }

  .column {
    border: 1px solid red;
  }
}
